          <article class="article">
            {% if article.meta.image %}
            <figure>
              <img class="post_image" src="{{SITEURL}}/posts/{{path}}/{{article.meta.image}}"/>
            </figure>
            {% endif %}
            <header>
              <h1 class="entry-title">{{ article.meta.title }}</h1>

              <span class="published" title="{{ article.meta.date.isoformat() }}">
                {{ article.meta.date.strftime("%Y-%m-%d") }}
              </span>
              <!-- {% if article.modified %}
              <span class="modified" title="{{ article.modified.isoformat() }}">
                Updated {{ article.modified.strftime("%Y-%m-%d") }} |
              </span>
              {% endif %}
              <span class="posted_in">
                {{ article.meta.category }} |
                {% for tag_ in range(0, article.meta.tags|length) %}
                {% if tag_ == article.meta.tags|length - 1 %}
                  {{ article.meta.tags[tag_] }}
                {% elif tag_ == (article.meta.tags|length - 2) %}
                  {{ article.meta.tags[tag_] }} |
                {% else %}
                  {{ article.meta.tags[tag_] }} |
                {% endif %}
                {% endfor %}
              </span> -->

            </header>
            <div class="article-content hyphenate">
              <div class="article_body">
                {{ article.content }}
              </div>
            </div>
            <footer class="post-info"></footer>
          </article>