{% extends "base.html" %}
{% block content %}
{% if MENUITEMS %}
{% for title, link in MENUITEMS %}
    <div id="page_{{title}}" class="page" {% if title != page_name %}style="display: none"{% endif %}>
      <div id="content_{{title}}" class="content">
        {% if not (title + ".md" in pages.keys()) %}
        <script>
           $("#content_{{title}}").load("{{ SITEURL }}{{ link }} #ajax_content_{{title}}");
        </script>
        {% else %}
        <div id="ajax_content_{{ pages[title+".md"].meta.title.lower() }}" class="ajax_content">
          <h1 style="display: none">{{ pages[title+".md"].meta.title.lower() }}</h1>
          <div class="entry-content-page hyphenate">
            {{ pages[title+".md"].content }}
          </div>
          <!-- This is ugly but I haven't found any better way of doing things! Can use JavaScript but users witout it will lose content. -->
        </div>
        {% endif %}
      </div>
    </div>
{% endfor %}
{% endif %}

    <!-- Animate to page -->
    <script>
    // Which page is this
    for (var i = 1; i <= pages.length; i++) {
      if ( "menu_{{page_name}}" == "menu_" + pages[i-1]) {
        whichPageActive = i;
      }
    }
    </script>
    <!-- End Animate to page -->
{% endblock %}
