/* Style
Name: Dynamics
Author: Mladen Gibanica
Site: mladen.gibanica.net
Version: 0.3
*/

/* Utils */
/* Loading (loads from base.html) */
#loading {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 2;
  background: #fafafa;
  align-items: center;
  justify-content: center;
}

#loading .logo {

}
/* End Loading */

/* Logo */
.logo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo .box1,
.logo .box2,
.logo .box3,
.logo .box4,
.logo .box5 {
  width: 5px;
  margin: 0 2px;
  background: #000000;
}

.logo .box1 {
  height: 5px;
  margin-left: 0;
  align-self: flex-end;
}

.logo .box2 {
  height: 11px;
  align-self: flex-end;
}

.logo .box3 {
  height: 18px;
  align-self: flex-end;
}

.logo .box4 {
  height: 11px;
  align-self: flex-start;
}

.logo .box5 {
  height: 5px;
  margin-right: 0;
  align-self: flex-start;
}

.nav .logo {
  margin: 0 auto;
  padding: 0;
  align-items: center;
}
.nav .logo .box1,
.nav .logo .box2,
.nav .logo .box3,
.nav .logo .box4,
.nav .logo .box5 {
  background: #f0f0f0;
}
/* Logo End */

/* Noscript and Old Browsers */
noscript, .old-browsers {
  display: block;
  width: 100%;
  background: #000000;
  color: #fafafa;
  text-align: center;
  position: fixed;
  font-size: 1.4em;
  z-index: 1;
  padding: 10px 0;
}
/* End Noscript and Old Browsers */

/* Links */
a, a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  transition: all 0.25s;
  color: rgba(0,0,0,0.6);
}

/* Headlines */
h1, h2, h3, h4, h5, h6 {
  font-family: myLato, "Gill Sans", "Helvetica-Neue", Helvetica, sans-serif;
  /* text-transform: uppercase; */
  margin: 10px 0;
  letter-spacing: 0.1em;
  font-weight: 100;
}

h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2.2em;
}
h3 {
  font-size: 2.0em;
}
h4 {
  font-size: 1.8em;
}
h5 {
  font-size: 1.6em;
}
h6 {
  font-size: 1.4em;
}

/* Other */
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.image {
  text-align: center;
}

img {
  width: 100%;
}

.article-image figure{
  margin: -130px 0 0;
  padding: 0;
}

.post-image {
  height: 100vh;
  object-fit: cover;
  vertical-align: top
}

.hide_scroll {
  overflow-x: hidden;
}

.show-block {
  display: block;
}
/* End Utils */

/* HTML and BODY */
html {
  height: 100%;
  width: 100%;
  background: #fafafa;

  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
html::-webkit-scrollbar {
  width: 0px;  /* WebKit */
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: myLato, "Gill Sans", "Helvetica-Neue", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 75%; /* Reset to 12px from the usual 16px */
}
/* End HTML and BODY */

/* Menu */
#nav {
  font-family: myLato, "Gill Sans", "Helvetica-Neue", Helvetica, sans-serif;
  position: fixed;
  text-transform: uppercase;
  z-index: 1;
  font-size: 1.1662em;
  top: 40px;
  left: calc(50% - 430px); /*530px*/
  margin: 0;
  padding: 0;
  height: 50px;
}

.nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  display: inline-block;
}

.nav li {
  float: left;
  height: 50px;
  position: relative;
}

.nav a,
.nav a:visited {
  color: #000;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  background: rgba(240,240,240,0.75);
}

.nav a:hover {
  color: #f0f0f0;
  background: #000;
}

.nav a.activeMenu {
  color: #f0f0f0;
  background: #000;
}

.nav #menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 20px 0 20px;
  height: 50px;
  margin: 0;
  background: #000;
  color: #f0f0f0;
  width: 41px;
}

  /* Menu Animation */
  .nav .boxes_123 {
    margin: 0;
    padding: 0;
    display: flex;
  }

  .nav .box1,
  .nav .box2,
  .nav .box3,
  .nav .box4,
  .nav .box5,
  .nav .boxes_123 {
    transition: all 0.1s;
  }
  .nav:hover .box1 {
    transform: translateX(4px) translateY(-7px);
    width: 5px;
    height: 2px;
    margin-left: 1px;
  }
  .nav:hover .box2 {
    transform: translateX(0px) translateY(-2px);
    width: 2px;
    height: 27px;
  }
  .nav:hover .box3 {
    transform: translateY(-2px);
    width: 2px;
    height: 32px;
    margin: 0 4px;
  }
  .nav:hover .box4 {
    transform: translateX(0px) translateY(-2px);
    width: 2px;
    height: 27px;
  }
  .nav:hover .box5 {
    transform: translateX(0px) translateY(7px);
    width: 5px;
    height: 2px;
    margin-right: 4px;
  }
  .nav:hover .boxes_123 {
    transform: rotateZ(90deg);
  }
  /* End Menu Animation */
/* End Menu */

/* Main */
/* Common */
#main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  perspective: 1000px;
  /*transform-style: preserve-3d;*/
  /*hyphens: auto;
  hyphenate-limit-lines: 2;
  hyphenate-limit-chars: 6 3 2;*/
  font-family: myLato, "Gill Sans", "Helvetica-Neue", Helvetica, sans-serif;
}

.main .page {
  width: 100%;
  height: calc(100% - 130px);
  position: absolute;
  margin: 0;
  padding: 130px 0 0 0;
}

.main .content {
  margin: 0;
  padding: 0;
  /*perspective: 150px;
  perspective-origin: 50% bottom;*/
}

.main .ajax_content {
  position: relative;
  display: block;
  padding: 0;
  margin: 0 auto;
}

.main .entry-title {
  display: inline;
}

.main .entry-date {
  margin: 0;
}
/* End Common */

/* Home */
.main .home-page {
  margin: 0 auto;
  padding: 0 40px;
  min-width: 160px;
  max-width: 860px;
  position: relative;
}

.main .home-page::before {
  content: "";

}

.main .home-page h1 {
  text-transform: lowercase;
}

.main #page_home {
  /*background: url(http://mladen.gibanica.net/images/IMG_0976_blur.jpg) fixed 50% / cover;*/
  /*background: url(http://mladen.gibanica.net/images/a_c_clarke_city_and_the_stars.jpg) fixed 50% / cover;*/
}

.main #page_home .home-page-image-details {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#page_home section,
#page_home .home-page-image-details {
  padding: 20px;
  background: rgba(250,250,250,0.8);
}
/* End Home */

/* Tiles */
.main .hentry {
  font-family: myLato, "Gill Sans", "Helvetica-Neue", Helvetica, sans-serif;
  /* font-weight: 200; */
  margin: 0 auto;
  padding: 10px 0;
  min-width: 160px;
  max-width: 860px;
}

.main .background-image {
  position: absolute;
  top: 0;
  left: -5%;
  right: -5%;
  width: 110%;
  /*-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');*/
  opacity: 0.5;
  transition: all 1s;
}

/*.main .background-image-container::after {
  content: "";
  display: block;
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #fafafa;
  opacity: 0;
  /*margin-top: 100%;*/
  /*transform: translateZ(0);
  transition: all 0.25s;
}*/

.main .background-image-container {
  display: block;
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*.main ol li:hover .background-image-container::after {
  margin-top: 0;
  opacity: 0.2;
  transform: translateZ(0);
}*/
.main ol li:hover .background-image {
  width: 100%;
  left: 0;
  right: 0;
  opacity: 1;
}

.main .article .article_header_footer {
  font-family: myLato, "Gill Sans", "Helvetica-Neue", Helvetica, sans-serif;
  background: rgba(240,240,240,0.8);
  padding: 20px;
}

.main .entry-content {
  margin: 0 auto 100px;
  padding: 0 40px;
  min-width: 160px;
  max-width: 860px;
}

.main .entry-content-page {
  margin: 0 auto 60px;
  padding: 0 40px;
  min-width: 160px;
  max-width: 860px;
}

.main .entry-content-page-title {
  font-family: myLato, "Gill Sans", "Helvetica-Neue", Helvetica, sans-serif;
  margin: 50px auto 0;
  padding: 0 40px;
  min-width: 160px;
  max-width: 860px;
}

.main p {
  font-size: 1.8em;
  line-height: 1.5em;
  text-align: justify;
  margin: 0;
  padding: 10px 0;
}

p a, p a:visited {
  text-decoration: underline;
}

p a:hover {
  text-decoration: none;
}

.main .hentry header > h3 {
  margin: 0;
  padding: 0;
}

.main .hentry header {
  margin: 0 !important;
  padding: 0 !important;
}

.main .article {
  margin: 0 0 40px 0;
}

.main .article-image {
  margin: 0;
}

.main .article header {
  margin: 0 auto 0 auto;
  padding: 0 40px;
  min-width: 160px;
  max-width: 860px;
}

.main .article .published, .main .article .posted_in, .main .article .modified {
  font-family: myLato, "Gill Sans", "Helvetica-Neue", Helvetica, sans-serif;
  /* font-size: 1.6em; */
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.article .article-content > .article_body {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px;
  min-width: 160px;
  max-width: 860px;
}

.article .article-content .article_body > h2,
.article .article-content .article_body > h3,
.article .article-content .article_body > h4,
.article .article-content .article_body > h5,
.article .article-content .article_body > h6 {
  padding: 20px 0 0;
}

.hyphenate {
  hyphens: auto;
}

.article .hyphenate {
  hyphens: auto;
}

.footer-box {
  margin: 0 auto;
  position: relative;
  min-width: 160px;
  max-width: 860px;
  padding: 0 40px;
}

.main #post-list {
  margin: 0 auto 60px;
  font-size: 83.3%;
}

.main #post-list .published {
  font-family: myLato, "Gill Sans", "Helvetica-Neue", Helvetica, sans-serif;
  /* font-size: 1.6em; */
  /* font-weight: 200; */
  text-transform: uppercase;
  position: absolute;
  bottom: 50px;
  right: 40px;
}

.main #post-list .posted_in {
  font-family: myLato, "Gill Sans", "Helvetica-Neue", Helvetica, sans-serif;
  font-size: 1.6em;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  right: 40px;
}

.main .article .posted_in a,
.main .article .posted_in a:visited {
  border-bottom: 1px solid #000000;
}

.main .article .posted_in a:hover {
  border-bottom: none;
}

.main .article-image .article-image-wrapper {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 860px;
}

.main .article-image .article-image-inside {
  position: fixed;
  bottom: 50px;
  padding: 10px;
  background: rgba(250,250,250,0.90);
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.main .article-image .article-image-inside .article_body {
  display: flex;
  flex-wrap: wrap;
}

.main .article-image .article-image-inside .article_body p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}

.main .article-image .article-image-inside .article_body p:first-child::before {
  content: "\00a0 / ";
}

.main .article-image .article-image-inside .article_body p:first-child::after {
  content: " /\00a0";
}

  /* Lists */
  .main ol[data-list-length] {
    list-style-type: none;
    padding: 0;
    position: relative;
  }

  .main ol {
    list-style-type: none;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 860px;
  }

  .main ol.photos {
    list-style-type: none;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 860px;
    gap: 2px;
  }

  .main ol.photos::after {
    content: "";
    flex-grow: 10;
  }

  .main ol.photos img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }

  .main ol li {
    padding: 0;
    position: relative;
    margin: 1px 0 0 0;
    opacity: 1;
  }

  .main ol li.photo {
    height: 150px;
    flex-grow: 1;
    margin: 0;
  }

  .main ol li:first-child {
    margin: 0;
  }

  .list-style {
    /* text-transform: uppercase; */
    transition: all 0.25s;
    /* background: #f0f0f0; */
  }

  .list-style h1,
  .list-style h2,
  .list-style h3,
  .list-style h4,
  .list-style h5,
  .list-style h6 {
    text-shadow: 0 1px 0 rgba(250,250,250,0.25);
    transition: text-shadow 0.25s;
  }

  .list-style:hover h1,
  .list-style:hover h2,
  .list-style:hover h3,
  .list-style:hover h4,
  .list-style:hover h5,
  .list-style:hover h6 {
    text-shadow: none;
  }

  .list-style a:hover {
    transition: none;
    color: rgba(0,0,0,0.6);
  }

  ul.unordered-list {
    font-family: myLato, "Gill Sans", "Helvetica-Neue", Helvetica, sans-serif;
    font-size: 1.8em;
    list-style: none;
    margin: 80px auto 0;
    padding: 0;
  }

  ul.unordered-list li {
    margin: 1px 0 0;
    background: rgba(0,0,0,0.05);
    position: relative;
    transition: all 0.25s;
  }

  ul.unordered-list li:first-child {
    margin: 0;
  }

  ul.unordered-list li:hover {
    background: rgba(0,0,0,0.1);
    transition: all 0.25s;
  }

  ul.unordered-list li[data-list]::after {
    padding: 0 40px;
    justify-content: flex-end;
    font-size: 1em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
  }

  dl {
    font-family: myLato, "Gill Sans", "Helvetica-Neue", Helvetica, sans-serif;
    text-align: left;
    margin: 80px auto 0;
  }

  dl dt {
    margin: 50px auto 10px;
    padding: 0 40px;
    min-width: 160px;
    max-width: 860px;
    font-size: 2.4em;
  }

  dl dt:first-child {
    margin: 0 auto 10px auto;
  }

  dl dd {
    position: relative;
    width: 100%;
    margin: 1px 0 0 0;
    padding: 0;
    font-size: 1.8em;
  }

  dl dt + dd {
    margin: 0;
  }

  dl dd[data-list]::after {
    padding: 0 40px 0 !important;
    justify-content: flex-end !important;
    font-size: 1em !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
  }

  .list-item-box{
    margin: 0 auto;
    padding: 0 40px;
    min-width: 160px;
    max-width: 860px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  /*.list-style-tiles[data-list]::after {
    content: attr(data-list);
    font-family: myLato, "Gill Sans", "Helvetica-Neue", Helvetica, sans-serif;
    position: absolute;
    color: #000000;
    text-transform: uppercase;
    border-radius: 0;
    margin: 0 auto;
    opacity: 0.5;
    z-index: -1;
  }

  ol.ordered-list li[data-list]::after {
    padding: 0;
    justify-content: center;
    font-size: 1.6em;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    opacity: 0.5;
  } */

  .list-item {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .list-item-text {
    margin: 0;
    padding: 20px 0;
    display: block;
  }

  .list-item-help {
    margin: 0;
    text-align: right;
    padding: 20px 0;
    display: block;
    min-width: 100px;
  }

  .list-item-text.archives {
    padding: 20px 80px 20px 20px;
  }
  /* End Lists */

  /* Archives Menu */
  #archives_nav {
    margin: 0 auto;
    position: relative;
    padding: 0 40px;
    min-width: 160px;
    max-width: 860px;
  }

  .archives_nav {
    position: absolute;
    text-transform: uppercase;
    z-index: 1;
    font-family: myLato, "Gill Sans", "Helvetica-Neue", Helvetica, sans-serif;
    font-size: 1.4em;
    top: -80px;
    right: 40px;
    margin: 0 auto;
    padding: 0;
    /*box-shadow: 0 0 15px rgba(0,0,0,0.1);*/
  }

  .archives_nav ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    list-style: none;
  }

  .archives_nav li {
    display: block;
    float: left;
    color: #000000;
    background: #f0f0f0;
  }

  .archives_nav a,
  .archives_nav a:visited {
    display: block;
    color: #000000;
    background: #f0f0f0;
    padding: 15px;
  }

  .archives_nav a:hover,
  .archives_nav a:hover.activeMenu {
    color: #f0f0f0;
    background: #000000;
  }

  .archives_nav a.activeMenu {
    display: block;
    background: #000000;
    color: #f0f0f0;
  }
  /* End Archives Menu */
/* End Main */

/*Special menu fix*/
@media screen and (max-width: 940px) {
  #nav {
    left: 40px;
  }

  .main ol {
    max-width: calc(100% - 80px);
  }

  .main ol.photos {
    max-width: calc(100% - 76px);
  }

  .main ol li.photo {
    height: 100px;
  }
}

/* Account for mobile devices and the "largest" reported device-width was 414px on iPhone 6 Plus*/
@media screen and (max-width: 415px) {
  noscript, .old-browsers {
    font-size: 1em;
    padding: 3px 0;
  }

  .article-image figure{
    margin: -100px 0 0;
    padding: 0;
  }

  #nav {
    top: 20px;
    left: 20px;
  }

  .main .page {
    padding: 100px 0 0 0;
    height: calc(100% - 100px);
  }

  .main .home-page {
    padding: 0 20px;
  }

  .main ol {
    max-width: calc(100% - 40px);
  }

  .main ol.photos {
    max-width: calc(100% - 36px);
  }

  .main ol li.photo {
    height: 75px;
  }

  .main .hentry {
    padding: 10px 0px;
    /*height: 150px;*/
  }

  .main .entry-content {
    padding: 0 20px;
  }

  .main .entry-content-page {
    padding: 0 20px;
  }

  .main .entry-content-page-title {
    padding: 0 20px;
  }

  .main p {
    font-size: 1.2em;
    /*line-height: 1.5em;*/
  }

  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 1em;
  }

  .main .article header {
    padding: 0 20px;
  }

  .article .article-content > .article_body {
    padding: 20px;
  }

  .article .article-content .article_body > h2,
  .article .article-content .article_body > h3,
  .article .article-content .article_body > h4,
  .article .article-content .article_body > h5,
  .article .article-content .article_body > h6 {
    padding: 20px 0 0;
  }

  .footer-box {
    padding: 0 20px;
  }

  .main #post-list .published {
    right: 20px;
  }

  .main #post-list .posted_in {
    right: 20px;
  }

  ul.unordered-list li[data-list]::after {
    padding: 0 20px;
  }

  dl dt {
    padding: 0 20px;
  }

  dl dd[data-list]::after {
    padding: 0 20px 0 !important;
  }

  .list-item-box{
    padding: 0 20px;
  }

  .list-item-text {
    padding: 20px 80px 20px 20px;
  }

  .list-item-text.archives {
    padding: 20px 130px 20px 20px;
  }

  #archives_nav {
    padding: 0 20px;
  }

  .archives_nav {
    right: 20px;
  }
}
/* End Account for mobile devices ... */

/* MS B%¤ */
@-ms-viewport{
  width: device-width;
}
/* End MS B%& */

/* Print */
@media print {
  #nav {
    display: none;
  }

  #main {
    background: #fff;
    color: #000;
    opacity: 1;
  }

  .main .page {
    padding: 0;
    margin: 0;
    height: 100%;
    /*width: calc(100% - 80px);*/
  }

  .main p {
    page-break-after: auto;
    /*page-break-inside: avoid;*/
  }

  .main h1,
  .main h2,
  .main h3,
  .main h4,
  .main h5,
  .main h6 {
    page-break-after: avoid;
  }

  .main code {
    page-break-before: avoid;
    page-break-after: avoid;
    page-break-inside: avoid;
    width: auto;
    overflow: hidden;
  }

  p a {
    word-wrap: break-word;
  }
}
/* End Print */

/* Custom fonts */
@font-face {
    font-family: myLato;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('fonts/LatoLatin-Regular.woff2') format('woff2'),
         url('fonts/LatoLatin-Regular.woff') format('woff');

}

@font-face {
    font-family: myLato;
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('fonts/LatoLatin-Italic.woff2') format('woff2'),
         url('fonts/LatoLatin-Italic.woff') format('woff');

}

@font-face {
    font-family: myLato;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('fonts/LatoLatin-Medium.woff2') format('woff2'),
         url('fonts/LatoLatin-Medium.woff') format('woff');

}

@font-face {
    font-family: myLato;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('fonts/LatoLatin-Light.woff2') format('woff2'),
         url('fonts/LatoLatin-Light.woff') format('woff');

}

@font-face {
    font-family: myInconsolata;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('fonts/Inconsolata-Regular.otf');
}
/* End Custom fonts */

/* Prism Style (use of !important to overide default style ) */
pre {
  /*background-color: rgba(245,242,240,0.8) !important;*/
  z-index: 0;
  font-size: 1.6em !important;
  font-family: myInconsolata, "Lucida Console", Monaco, monospace !important;
  min-width: 100% !important;
  max-width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

p > code {
  font-family: myInconsolata, "Lucida Console", Monaco, monospace !important;
  min-width: 160px;
  max-width: 860px;
  margin: 0 auto;
  padding: 0 !important;
  line-height: 1.4;
  background: #efeffe;
}

code[class*="language-"] {
  font-family: myInconsolata, "Lucida Console", Monaco, monospace !important;
}

.code_inline {
  color: #404040 !important; /* 3/4 black */
  font-family: myInconsolata, "Lucida Console", Monaco, monospace !important;
  font-size: 0.9em;
  background: #f5f2f0 !important;
  display: inline;
  padding: 3px !important;
  color: #000;
}
/* End Prism Style */

.profile-image {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 50%;
  float: right;
  margin-left: 40px;
}

.isolate_moving_object-image {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  height: auto;
}